<div class="ui grid"  ng-init="vm.initSort()">
    <div class="ui column">
        <div class="ui form segment" novalidate>
            <div class="ui active inverted"><div class="ui large text loader disabled">Launching... Please wait...</div></div>
            <div class="ui small message red" ng-show="error">
                <div class="header">Error</div>
                <p>{{error}}</p>
            </div>
            <div class="field">
              <label>Job Name</label>
              <div class="ui left labeled input">
                <input type="text" name="jobName" placeholder="" ng-model="vm.element.name">
              </div>
            </div>
            <div class="field">
              <label>Schedule</label>
              <div class="ui left labeled input">
                <input type="text" name="schedule" placeholder="Cron format" ng-model="vm.element.schedule">
              </div>
            </div>
            <div class="field">
                <label>Image</label>
                <div class="ui left labeled input">
                    <input type="text" name="name" placeholder="ehazlett/go-demo" ng-model="vm.element.image">
                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>
            <div class="field">
              <label>Command</label>
              <div class="ui left labeled input">
                <input type="text" name="command" ng-model="vm.element.command">
              </div>
            </div>
            <!-- <div class="field">
                <label>Environment</label>
                <div class="ui left labeled input">
                    <input type="text" name="environment" placeholder="key=value (space separated)" ng-model="vm.element.environment">
                </div>
            </div> -->
            <div class="two fields">
                <div class="field">
                    <label>CPUs</label>
                    <div class="ui left labeled input">
                        <input type="text" name="cpus" ng-model="vm.element.cpu">
                        <div class="ui corner label">
                            <i class="icon asterisk"></i>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Memory (MB)</label>
                    <div class="ui left labeled input">
                        <input type="text" name="memory" ng-model="vm.element.memory">
                        <div class="ui corner label">
                            <i class="icon asterisk"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <label>Ports</label> <a ng-click="addPortDefinition()"><i class="plus sign icon tiny"></i></a>
            <div class="ui segment ports">
                <span class="ui label ports default-label">no port bindings specified</span>
            </div>
            <div class="field">
                <checkbox name="publish" ng-model="vm.element.publish">Publish all Exposed Ports</checkbox>
            </div> -->
            <!--
            <div class="field">
                <checkbox checked="false" ng-model="pull">Pull the latest image (you must pull if the image does not exist on the host)</checkbox>
            </div>
            -->
            <div class="ui blue button" ng-click="saveSchedule()">Save</div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function setValidationRules() {
        $('.ui.form')
            .form({
                name: {
                    identifier : 'name',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'enter a Docker image name'
                        }
                    ]
                },
                cpus: {
                    identifier : 'cpus',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'enter the number of CPU shares'
                        }
                    ]
                },
                memory: {
                    identifier : 'memory',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'enter the amount of memory'
                        }
                    ]
                },
            }, {
                inline: 'true'
            });
    };
    $(function(){
        setValidationRules();
    });
    $('.ui.dropdown').dropdown();
</script>
